<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Plexed Hosting</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
  </head>
   <body>
     <section class="section">
       <div class="container">
       </div>
     </section>
     <section>
       <div class="container">
         <html>
            <body>

               <form action = "/uploader" method = "POST"
                  enctype = "multipart/form-data">
                  <div class="file">
                    <label class="file-label">
                      <input class="file-input" type="file" name="file">
                      <span class="file-cta">
                        <span class="file-icon">
                          <i class="fas fa-upload"></i>
                        </span>
                        <span class="file-label">
                          Choose a file…
                        </span>
                      </span>
                    </label>
                  </div>
				  <br>
                  <input class="button is-primary is-rounded" type = "submit"/>
               </form>

            </body>
         </html>
     </div>
     </section>
</html>
